# Book

In [1]:
!pip install mlxtend

Requirement already satisfied: mlxtend in e:\personal docs\python\lib\site-packages (0.19.0)
Requirement already satisfied: numpy>=1.16.2 in e:\personal docs\python\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: setuptools in e:\personal docs\python\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: scikit-learn>=0.20.3 in e:\personal docs\python\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: joblib>=0.13.2 in e:\personal docs\python\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: pandas>=0.24.2 in e:\personal docs\python\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: matplotlib>=3.0.0 in e:\personal docs\python\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: scipy>=1.2.1 in e:\personal docs\python\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: python-dateutil>=2.7 in e:\personal docs\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in e:\personal docs\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in e:\personal docs\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: cycler>=0.10 in e:\personal docs\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\personal docs\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: six in e:\personal docs\python\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in e:\personal docs\python\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\personal docs\python\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)

In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [3]:
book=pd.read_csv("C:\\Users\\data\\OneDrive\\Desktop\\ExcelR\\book.csv")
book

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [4]:
df=pd.get_dummies(book)
df

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [5]:
frequent_itemsets=apriori(df,min_support=0.4,use_colnames=True)
frequent_itemsets

   support    itemsets
0    0.423  (ChildBks)
1    0.431   (CookBks)

In [6]:
frequent_itemsets1=apriori(df,min_support=0.2,use_colnames=True)
frequent_itemsets1

   support             itemsets
0   0.4230           (ChildBks)
1   0.2475           (YouthBks)
2   0.4310            (CookBks)
3   0.2820           (DoItYBks)
4   0.2145             (RefBks)
5   0.2410             (ArtBks)
6   0.2760            (GeogBks)
7   0.2560  (CookBks, ChildBks)

In [12]:
rules=association_rules(frequent_itemsets1,metric='lift',min_threshold=0.3)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(CookBks),(ChildBks),0.431,0.423,0.256,0.593968,1.404179,0.073687,1.421069
1,(ChildBks),(CookBks),0.423,0.431,0.256,0.605201,1.404179,0.073687,1.441240

In [13]:
rules.sort_values('lift',ascending=False).head(15)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(CookBks),(ChildBks),0.431,0.423,0.256,0.593968,1.404179,0.073687,1.421069
1,(ChildBks),(CookBks),0.423,0.431,0.256,0.605201,1.404179,0.073687,1.441240

# My Movies

In [14]:
movies=pd.read_csv("C:\\Users\\data\\OneDrive\\Desktop\\ExcelR\\my_movies.csv")
movies

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [15]:
df=pd.get_dummies(movies)
df

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
6,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9,1,1,0,0,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,1,0

In [16]:
frequent_itemsets=apriori(df,min_support=0.4,use_colnames=True)
frequent_itemsets

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.6                                          (Patriot)
3       0.6                                     (V1_Gladiator)
4       0.6                                       (V2_Patriot)
..      ...                                                ...
58      0.4  (Gladiator, Sixth Sense, V3_Sixth Sense, V2_Pa...
59      0.4  (Gladiator, Sixth Sense, V1_Gladiator, V3_Sixt...
60      0.4  (Sixth Sense, V1_Gladiator, V3_Sixth Sense, V2...
61      0.4  (Gladiator, V1_Gladiator, V3_Sixth Sense, V2_P...
62      0.4  (Gladiator, Sixth Sense, V1_Gladiator, V3_Sixt...

[63 rows x 2 columns]

In [17]:
rules= association_rules(frequent_itemsets,metric='lift',min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
2,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(V1_Gladiator),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
...,...,...,...,...,...,...,...,...,...
597,(Sixth Sense),"(Gladiator, V3_Sixth Sense, V1_Gladiator, V2_P...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
598,(V1_Gladiator),"(Gladiator, Sixth Sense, V3_Sixth Sense, V2_Pa...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
599,(V3_Sixth Sense),"(Gladiator, Sixth Sense, V1_Gladiator, V2_Patr...",0.4,0.4,0.4,1.000000,2.500000,0.24,inf
600,(V2_Patriot),"(Gladiator, Sixth Sense, V3_Sixth Sense, V1_Gl...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
601,(Patriot),"(Gladiator, Sixth Sense, V3_Sixth Sense, V1_Gl...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8

In [18]:
frequent_itemsets1=apriori(df,min_support=0.2,use_colnames=True)
frequent_itemsets1

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
..      ...                                                ...
76      0.4  (Gladiator, Sixth Sense, V3_Sixth Sense, V2_Pa...
77      0.4  (Gladiator, Sixth Sense, V1_Gladiator, V3_Sixt...
78      0.4  (Sixth Sense, V1_Gladiator, V3_Sixth Sense, V2...
79      0.4  (Gladiator, V1_Gladiator, V3_Sixth Sense, V2_P...
80      0.4  (Gladiator, Sixth Sense, V1_Gladiator, V3_Sixt...

[81 rows x 2 columns]

In [19]:
rules1= association_rules(frequent_itemsets1,metric='lift',min_threshold=0.7)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
2,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
...,...,...,...,...,...,...,...,...,...
649,(Sixth Sense),"(Gladiator, V3_Sixth Sense, V1_Gladiator, V2_P...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
650,(V1_Gladiator),"(Gladiator, Sixth Sense, V3_Sixth Sense, V2_Pa...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
651,(V3_Sixth Sense),"(Gladiator, Sixth Sense, V1_Gladiator, V2_Patr...",0.4,0.4,0.4,1.000000,2.500000,0.24,inf
652,(V2_Patriot),"(Gladiator, Sixth Sense, V3_Sixth Sense, V1_Gl...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
653,(Patriot),"(Gladiator, Sixth Sense, V3_Sixth Sense, V1_Gl...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8

In [20]:
rules1.sort_values('lift',ascending=False).head(15)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
178,"(V1_Sixth Sense, Green Mile)",(V4_Green Mile),0.2,0.2,0.2,1.0,5.0,0.16,inf
319,"(V4_Green Mile, Green Mile)","(V1_Sixth Sense, Sixth Sense)",0.2,0.2,0.2,1.0,5.0,0.16,inf
40,(V4_Green Mile),(V1_Sixth Sense),0.2,0.2,0.2,1.0,5.0,0.16,inf
41,(V1_Sixth Sense),(V4_Green Mile),0.2,0.2,0.2,1.0,5.0,0.16,inf
181,(Green Mile),"(V4_Green Mile, V1_Sixth Sense)",0.2,0.2,0.2,1.0,5.0,0.16,inf
180,(V1_Sixth Sense),"(V4_Green Mile, Green Mile)",0.2,0.2,0.2,1.0,5.0,0.16,inf
179,(V4_Green Mile),"(V1_Sixth Sense, Green Mile)",0.2,0.2,0.2,1.0,5.0,0.16,inf
177,"(V4_Green Mile, Green Mile)",(V1_Sixth Sense),0.2,0.2,0.2,1.0,5.0,0.16,inf
176,"(V4_Green Mile, V1_Sixth Sense)",(Green Mile),0.2,0.2,0.2,1.0,5.0,0.16,inf
326,(Green Mile),"(V4_Green Mile, V1_Sixth Sense, Sixth Sense)",0.2,0.2,0.2,1.0,5.0,0.16,inf
325,(V1_Sixth Sense),"(V4_Green Mile, Green Mile, Sixth Sense)",0.2,0.2,0.2,1.0,5.0,0.16,inf
324,(V4_Green Mile),"(V1_Sixth Sense, Green Mile, Sixth Sense)",0.2,0.2,0.2,1.0,5.0,0.16,inf
323,"(Green Mile, Sixth Sense)","(V4_Green Mile, V1_Sixth Sense)",0.2,0.2,0.2,1.0,5.0,0.16,inf
322,"(V1_Sixth Sense, Sixth Sense)","(V4_Green Mile, Green Mile)",0.2,0.2,0.2,1.0,5.0,0.16,inf
321,"(V1_Sixth Sense, Green Mile)","(V4_Green Mile, Sixth Sense)",0.2,0.2,0.2,1.0,5.0,0.16,inf